@import '../../assets/styles/variables.scss';

.button {
    cursor: pointer;
    border-color: transparent;
    border-radius: 8px 8px 8px 8px;
    &--size-medium {
        font-size: $medium;
        width: auto;
        height: $height-button;
    }
    &--color {
        background-color: $button-primary-color;
        color: $white-primary;
    }
}