@import "../../assets/styles/variables.scss";

.search-box {
    background-color: $header-color;
    display: flex;
    justify-content: left;
    align-items: center;
    height: $height-header;
    padding: $padding-initial;
    &__logo {
        margin-right: 10px;
    }
}
@media (max-width: 1000px) {
    .search-box {
      padding: 10px;
    }
}