@import "../../assets/styles/variables.scss";

.search-box {
    background-color: $header-color;
    display: flex;
    justify-content: left;
    align-items: center;
    height: $height-header;
    padding: $padding-initial;
    margin: $margin-fixed
    &__logo {
        margin-right: 10px;
    }
}