@import '../../assets/styles/variables.scss';

.ProductList {
    padding: $padding-card;
    margin: $margin-fixed;
    font-family: $font-family;
    &__card {
        background-color: $background-card;
        border-radius: 4px 4px 0 0;
        padding: $padding-around-xs;
     &-item {
         display: flex;
         flex-direction: row;
         cursor: pointer;
         padding: $padding-around-s $padding-around-xs;
         border-bottom: thin solid #eee;;
     }   
    }
    &__currency {
        color: #333;
        font-weight: bold;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.8;
    }
    &__title {
        color: #333;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.3;
    }
    &__detail-content {
        font-family: sans-serif;
        margin: 10px 5px;
        width: 70%;
    }
    &__detail-product {
        display: inline-flex;
        align-items: center;
        color: $path-color;
    }
    &__circle {
            height: 15px;
            width: 15px;
            background-color: #00a650;
            border-radius: 50%;
            display: inline-block;
    }
    &__link {
        margin: 15px;
        border: none;
        text-decoration: underline;
        color: $blue-primary;
        cursor: pointer;
    }
}