@import '../../assets/styles/variables.scss';

.input-custom {
    position: relative;
    display: flex;
    padding: 0 0 0 15px;
    width: $large-width;
    &__input {
        border: none;
        padding: $padding-fixed;
        outline: 0;
        &--size {
            width: calc(100% - 0px);
            height: $height-box;
        }
    }
    &__button {
        width: $small-width-button;
        height: $height-box;
        border: none;
        cursor: pointer;
        padding: $padding-fixed;
    }
}