@import '../../assets/styles/variables.scss';

.ProductDetail {
    padding: $padding-card;
    margin: $margin-fixed;
    font-family: $font-family;
    &__card {
        background-color: $background-card;
        border-radius: 4px 4px 0 0;
        padding: $padding-around-xs;
        display: flex;
    }
    &__content {
        text-align: center;
        width: 70%;
    }
    &__title {
        font-size: 16px;
        font-weight: bold;
        padding: $padding-around-s 0;
    }
    &__condition-text {
        font-size: $small;
        color: $path-color;
        padding: $padding-around-xs 0;
    }
    &__actions {
        width: 30%;
        display: flex;
        flex-direction: column;
        padding: $padding-around-l;
    }
    &__description {
        padding: $padding-around-l $padding-around-s;
        text-align: justify;
    }
    &__description-title {
        padding: $padding-around-m 0px;
        font-size: $large;
        font-weight: 300;
    }
    &__description-text {
        white-space: pre-line;
        color: $gray-primary;
    }
    &__price {
        font-size: $extra-large;
        padding: 10px 0 30px 0;
        display: inline-flex;
    }
    &__price-decimals {
        font-size: 15px;
        padding: 2px 2px 0px 2px;
    }
}